/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");

/* HomePage.css */
.wrapper {
  background: linear-gradient(rgba(37, 37, 37, 0.8), rgba(66, 66, 66, 0.7)),
    url("/public/img/img/intro-bg.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/* HeroPage.css */
.hero-button-container {
  margin-top: 20px; /* just the margin as needed */
  margin-bottom: 20px;
  text-align: center; /* Center the buttons */
}
.hero-button {
  padding: 7px 14px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid rgb(43, 80, 243);
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  margin-right: 10px;
}

.hero-button:hover {
  background: white;
  color: rgb(43, 80, 243);
}

.hero-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Equivalent to h-screen */
  flex-direction: column; /* Stack items vertically */
}

/* Navbar.css */
.brand {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  margin-left: 0;
  margin-right: 250px;
}
.brand:hover {
  color: blue;
}
.home-navbar,
.home-navbar::after,
.home-navbar::before {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background: white;
  padding: 0 20px;
  box-shadow: 0 4px 4px rgba(65, 64, 64, 0.1);
}

.nav-item {
  list-style: none;
  cursor: pointer;
}

.nav-item:hover {
  cursor: pointer;
  color: blue;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: gray;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  font-size: 18px;
}

.nav-toggler div {
  width: 1.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: darkgray;
}

.nav-toggler {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-toggler {
    display: block;
  }
  .nav-menu {
    position: fixed;
    gap: 0.5rem;
    top: 6vh;
    right: 3vh;
    width: 20%;
    height: 50vh;
    background: white;
    flex-direction: column;
    transform: translateX(100%);
    padding: 0 20px;
    visibility: hidden; /* Initially hide the container */
    opacity: 0; /* Initially set opacity to 0 */
  }
  .nav-menu.active {
    transform: translateX(0);
    visibility: visible; /* Show the container */
    opacity: 1; /* Set opacity to 1 */
  }
}

/* Navbar Actice Class*/
.nav-active {
  transform: translateX(0);
}

/* Features.css*/
.features {
  text-align: center;
  margin-top: 10px; /* Adjust as needed */
  padding: 20px 0; /* Tambahkan padding agar content tidak menempel pada atas */
  min-height: 100vh;
}

.features-container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.features-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}

.features-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features-row-fill {
  margin: 15px;
  text-align: center;
  flex: 0 0 calc(33.3333% - 30px); /* Adjust margin and width as needed */
}

.features-icon {
  font-size: 5rem;
  color: #5ca9fb;
  margin-bottom: 10px;
}

.features-title {
  margin: 0 0;
  font-size: 1.5em;
  font-weight: 700;
  color: #333;
}

.features-text {
  font-size: 1em;
  color: #555;
}

/* HomeAbout.css */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  background-color: #f7f7f8;
  min-height: 90vh;
  height: 100vh;
}

.about-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px; /* Sesuaikan dengan lebar maksimal yang diinginkan */
  margin: 0 auto; /* Menengahkan container pada layar yang lebih lebar */
}

.about-image {
  flex: 1;
  width: 50%; /* Menyesuaikan lebar maksimal */
  height: 50%; /* Menyesuaikan tinggi secara proporsional */
  margin-left: 70px;
  margin-right: 0;
}

.about-information {
  flex: 1;
  max-width: 100%;
  padding: 0 50px;
}

@media only screen and (max-width: 768px) {
  .about-row {
    flex-direction: column; /* Mengubah arah tata letak menjadi kolom */
    text-align: center; /* Pusatkan teks pada layar kecil */
    margin-top: 20px; /* Sesuaikan margin atas */
    margin-bottom: 20px; /* Sesuaikan margin bawah */
  }

  .about-image {
    width: 100%; /* Gunakan lebar penuh pada layar kecil */
    height: auto; /* Atur tinggi agar sesuai dengan lebar */
    margin-left: 0;
    margin-bottom: 20px; /* Berikan sedikit ruang di bawah gambar */
    margin-top: 0;
  }

  .about-information {
    padding: 0 20px; /* Sesuaikan padding pada layar kecil */
    margin-bottom: 20px;
  }
}

/* Footer.css */

.footer-container {
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 60px;
}

.footer-title {
  margin-bottom: 10px;
}

.footer-contributors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.footer-contributor {
  text-align: center;
  margin: 0 10px;
}

.footer-contributor img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 0;
  box-shadow: 0 4px 10px rgba(139, 139, 139, 0.5);
}

.footer-contributor h3 {
  margin-bottom: 5px;
}

.footer-contributor p {
  margin-top: 5px;
}

.footer-schoolinfo {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}

.footer-documentation {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

.footer-documentation p {
  margin: 0 5px; /* Sesuaikan margin sesuai kebutuhan Anda */
}

.footer-documentation a {
  color: black; /* Ganti warna teks sesuai kebutuhan Anda */
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-documentation .footer-icon {
  font-size: 24px; /* Sesuaikan ukuran ikon sesuai kebutuhan Anda */
  margin-bottom: 5px; /* Sesuaikan margin antara ikon dan teks */
}
