/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");

/* HomePage.css */
.wrapper {
  background: linear-gradient(rgba(37, 37, 37, 0.8), rgba(66, 66, 66, 0.7)),
    url("./../assets/intro-bg.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/* HeroPage.css */
.hero-button-container {
  margin-top: 20px; /* Adjust the margin as needed */
  margin-bottom: 20px;
  text-align: center; /* Center the buttons */
}
.hero-button {
  padding: 7px 14px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid rgb(43, 80, 243);
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  margin-right: 10px;
}

.hero-button:hover {
  background: white;
  color: rgb(43, 80, 243);
}

.hero-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Equivalent to h-screen */
  flex-direction: column; /* Stack items vertically */
}

/* Navbar.css */
.brand {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}
.home-navbar,
.home-navbar::after,
.home-navbar::before {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: white;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  font-size: 18px;
}

.nav-toggler div {
  width: 1.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: darkgray;
}

.nav-toggler {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-toggler {
    display: block;
  }
  .nav-menu {
    position: fixed;
    top: 7vh;
    right: 0;
    width: 50%;
    height: 93vh;
    background: white;
    flex-direction: column;
    transform: translateX(100%);
  }
}
/* Navbar Actice Class*/
.nav-active {
  transform: translateX(0);
}
