/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");

/* HomePage.css */
.wrapper {
  background: linear-gradient(rgba(37, 37, 37, 0.8), rgba(66, 66, 66, 0.7)),
    url("/public/img/img/intro-bg.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/* HeroPage.css */
.hero-button-container {
  margin-top: 20px; /* Adjust the margin as needed */
  margin-bottom: 20px;
  text-align: center; /* Center the buttons */
}
.hero-button {
  padding: 7px 14px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid rgb(43, 80, 243);
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  margin-right: 10px;
}

.hero-button:hover {
  background: white;
  color: rgb(43, 80, 243);
}

.hero-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Equivalent to h-screen */
  flex-direction: column; /* Stack items vertically */
}

/* Navbar.css */
.brand {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}
.home-navbar,
.home-navbar::after,
.home-navbar::before {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: white;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  font-size: 18px;
}

.nav-toggler div {
  width: 1.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: darkgray;
}

.nav-toggler {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-toggler {
    display: block;
  }
  .nav-menu {
    position: fixed;
    top: 7vh;
    right: 0;
    width: 50%;
    height: 93vh;
    background: white;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Navbar Actice Class*/
.nav-active {
  transform: translateX(0);
}

/* Features.css*/
.features {
  text-align: center;
  margin-top: 20px; /* Adjust as needed */
  height: 100vh;
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.features-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}

.features-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features-row-fill {
  margin: 15px;
  text-align: center;
  flex: 0 0 calc(33.3333% - 30px); /* Adjust margin and width as needed */
}

.features-icon {
  font-size: 5rem;
  color: #5ca9fb;
  margin-bottom: 10px;
}

.features-title {
  margin: 0 0;
  font-size: 1.5em;
  font-weight: 700;
  color: #333;
}

.features-text {
  font-size: 1em;
  color: #555;
}

/* HomeAbout.css */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #f6f6fd;
  height: 100vh;
}

.about-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about-image {
  flex: 1;
  width: 50%; /* Menyesuaikan lebar maksimal */
  height: 50%; /* Menyesuaikan tinggi secara proporsional */
  margin-left: 70px;
  margin-right: 0;
}

.about-information {
  flex: 1;
  max-width: 100%;
  padding: 0 50px;
}
