/* YourComponent.css */

.schools-table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.schools-container {
  max-width: 90%;
  margin: auto;
}

.schools-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.schools-input-group {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.schools-search-icon {
  color: royalblue;
  font-size: 20px;
  margin-right: 20px; /* Sesuaikan jarak dari kanan */
  margin-left: 10px;
  position: absolute;
  padding-bottom: 2px;
}
.schools-form-control {
  width: 100%;
  border-radius: 5px;
  height: 2.5rem;
  box-shadow: 0px 0px 4px #ddd;
  border: none;
  font-size: 14px;
  padding-left: 35px; /* Sesuaikan jarak dari kiri */
}

.schools-table-result {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px; /* Sesuaikan margin sesuai kebutuhan */
  font-size: 16px;
}

.schools-table-result th,
.schools-table-result td {
  border: 0.5px solid#e2e8fa; /* Atur garis tepi untuk sel tabel */
  padding: 5px; /* Sesuaikan ruang padding sesuai kebutuhan */
  text-align: left; /* Sesuaikan posisi teks sesuai kebutuhan */
}

.schools-table-result th {
  background-color: #f2f2f2; /* Atur warna latar belakang header */
}

.schools-table-result tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Atur warna latar belakang setiap baris genap */
}

.schools-table-result tbody tr:hover {
  background-color: #f0f0f0; /* Atur warna latar belakang saat hover pada baris */
}

/* Atur lebar dan text-align untuk setiap kolom */
.schools-table-result th:nth-child(1),
.schools-table-result td:nth-child(1) {
  width: 3%;
  text-align: center;
}

.schools-table-result td:nth-child(2) {
  width: 20%;
  text-align: justify;
}

.schools-table-result th:nth-child(3),
.schools-table-result td:nth-child(3) {
  width: 8%;
  text-align: center;
}
.schools-table-result th:nth-child(4),
.schools-table-result td:nth-child(4) {
  width: 7%;
  text-align: center;
}

.schools-table-result td:nth-child(5) {
  width: 28%;
  text-align: justify;
}

.schools-table-result th:nth-child(6),
.schools-table-result td:nth-child(6) {
  width: 10%;
  text-align: center;
}

.schools-table-result th:nth-child(7),
.schools-table-result td:nth-child(7) {
  width: 6%;
  text-align: center;
}

.schools-table-result th:nth-child(8),
.schools-table-result td:nth-child(8) {
  width: 6%;
  text-align: center;
}

.schools-table-result th:nth-child(9),
.schools-table-result td:nth-child(9) {
  width: 6%;
  text-align: center;
}

.schools-table-result th:nth-child(10),
.schools-table-result td:nth-child(10) {
  width: 6%;
  text-align: center;
}

.schools-table-result th:nth-child(2),
.schools-table-result th:nth-child(5) {
  text-align: center;
}

.paginationButton {
  width: 93%;
  height: 40%;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.paginationButton a {
  padding: 10px;
  margin: 8px;
  border-radius: 7px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationButton a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}
